:root {
    --nav-height: 65px;
}

.navbar {
    height: var(--nav-height);
}

.fill-page {
    min-height: calc(100vh - var(--nav-height));
}
.side-nav {
    padding: 10px;
}
.side-nav li {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    margin-left: -50px;
    padding-left: 20px;
}

.page-content {
    margin: 20px;
    background-color: var(--mc-grey);
    padding: 20px;
}

.active-page {
    background-color: var(--mc-darkgrey);
}